<link rel="stylesheet" href="../css/style.css">
<style>
    .blogs .Nullwrapper {

        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .blogs .Blogswrapper {
        padding-top: 100px;
        width: 98vw;
        display: flex;
        justify-content: center;
    }
</style>
<%- include('partials/Navbar.ejs',{authenticated:authenticated}) %>
    <div class="blogs">
        <% if(blogs.length==0){ %>

            <div class="Nullwrapper">
                <h1 class="text-center heading">Sorry no blogs to show.</h1>
                <a href="/blog/write">
                    <button class="main-Btn px-3 py-2">Write one</button>
                </a>

            </div>
            <% } %>
                <div class="Blogswrapper">
                    <div class="blogsBox">
                        <% blogs.forEach((blog)=>{%>
                            <%- include('partials/Blog.ejs',{blog:blog,user:user}) %>
                                <% }) %>
                    </div>

                </div>
               
    </div>

    