<%- include('partials/Navbar.ejs',{authenticated:true}) %>


<div class="wrapper">
    <a href="/auth/logout">
        <button class="w-100 h-100">Logout</button>
    </a>
  
</div>



<!-- auth/logout -->