<%- include('partials/Navbar.ejs',{authenticated:authenticated}) %>
    <style>
        .home {
            top: 0px;
            bottom: 0px;
        }

        .home .wrapper {
            width: 100vw;
            min-height: 100vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            display: flex;
        }

        .home .first {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .home .second {

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
        }

        .home img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }


        .main-heading {
            color: #da8181;
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        @media (max-width: 768px) {
            .home .wrapper {
                display:block;
            }
            .home .first{
                width: 100%;
                height: 100%;

            }
        }
    </style>


    <div class="home">
        <div class="wrapper">
            <div class="first p-5">
                <h1 class=" text-center heading">Discover New Experiences in <br> Blogging World <br><span
                        class="main-heading "> With Root!</span></h1>
                <div class="buttons">
                    <a href="/blog/write">
                        <button class="main-Btn px-3 py-2"> <b>Get Started</b>
                        </button>
                    </a>
                    <% if(authenticated){ %>
                        <a href="/blog/blogs">
                            <button class="main-Btn secondary-Btn px-3 py-2">
                                <b>Read Blogs</b>
                            </button>
                        </a>
                        <% }else{ %>
                            <a href="/signup">
                                <button class="main-Btn secondary-Btn px-3 py-2">
                                    <b> Sign up</b>
                                </button>
                            </a>
                            <% } %>


                </div>
            </div>
            <div class="second">
                <img src="images/home.png" class="img-responsive" />
            </div>
        </div>
    </div>